<div>
  <!-- フォルダ名を一つずつ表示-->
  <!--<% @folders.each do |folder| %>
    <%= link_to folder_artworks_path(folder.id) do %>
      <p class = "folder-name"><i class="far fa-folder"></i> <%= folder.folder_name %></p>
    <% end%>
  <% end%>-->
</div>

<tr>
  <td><%= folder.name %></td>
</tr>