<h1>folder詳細</h1>

<% @artworks.each do |artwork| %>
          <div class = "col-xs-12 col-sm-6 col-md-6">
            <div class = "thumbnail">
              <div class = "artwork">
              <%= link_to artwork do%>
                <p class = "image">
                  <%= image_tag artwork.image.url %>
                </p>
                <p class = "creator-name">
                  <%= artwork.creator.name %>
                </p>
                <p class="date">
                  <%= artwork.created_at.strftime("%Y-%m-%d %H:%M ") %>
                </p>
              <% end %>
              </div>
            </div>
          </div>
          <% end %>