<div class = "creator-artworks-index">  
  <div class="container">

    <h3 class = "page-title"><%= @creator.name %> の作品</h3>

    <%= render "creator_folder_index", creator: @creator, folders: @folders, artworks: @artworks %>

  </div>
</div>
