<div class = "folder-artworks-index">  
  <div class="container">

    <h3 class = "page-title"><%= link_to ("#{@folder.creator.name} の作品"), creator_artworks_path(@folder.creator.id) %> </h3>

    <%= render "creator_folder_index", folders: @folders, creator: @creator, artworks: @artworks %>

  </div>
</div>
