<div class = "new-artwork">
  <div class = "container">
  
    <h3><i class="far fa-images"></i> 投稿する</h3>

    <%= render 'form', artwork: @artwork %>

    <div class = "back-button">
      <%= link_to 'Back', artworks_path %>
    </div>
    
  </div>
</div>