<div class = "new-artwork">

  <div class="container">
    <h3>作品投稿</h3>

    <%= render 'form', artwork: @artwork %>

    <div class = "back-button">
      <%= link_to 'Back', artworks_path %>
    </div>
    
  </div>
</div>