<div class = "top">
  <div class = "container">
    <div class = "row">
      <div class = "top-content">
        <p class = "responsive-message">さくひんBOX</p>
          
        <%= image_tag ("sakuhin-box.jpeg"), class: "img-responsive center-block" %>
        <p class = "top-message">
          お子様が作った作品を撮影しておいて
          <br>
          写真として手軽に保管・整理ができるアプリです。
          <br>
          お子様はクリエイターとして複数人登録できるので
          <br>
          兄弟・姉妹の作品もそれぞれ管理が行えます。
          <br>
          <span><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-default signup-button'%></span>
          <span><%= link_to "ログイン", new_user_session_path, class: 'btn btn-default login-button' %></span>
        </p>

      </div>
    </div>
  </div>
</div>