<div class = "edit-creator">
  <div class = "container">
  
    <%= render 'form', creator: @creator %>

    <div class = "back-button">
      <%= link_to 'Back', creator_path(@creator.id) %>
    </div>
    
  </div>
</div>