html {
  min-height: 100%;
  position: relative;
  font-size: 62.5%;
}

body {
  height: 100%;
}

.navbar {
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  /* デフォルトで設定されている角丸を無効にする*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 1.5rem;
}

.header {
  margin-bottom: 60px;
}

.artworks-index,.creator-artworks-index, .folder-artworks-index, .artwork-form {
  h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .image {
    width: auto;
    text-align: center
  }
  .image {
    img {
      max-width: 100%;
      height: 220px;
    }
  }

  .creator-name {
    color: #000;
    font-size: 2.8rem;
    font-weight:bold;
    text-align: center;
  }
  .date {
    color: #000;
    // font-weight:bold;
    text-align: center;
  }
  .folder-list {
    h4 {
      font-weight: bold;
    }
    .folder-list {
      font-size: 1.5rem;
    } 
    .folder-name {
      font-size: 1.5rem;
    }
  }
  a {
    color: #000;
  }
}

.creator-artworks-index, .folder-artworks-index {
  @media (max-width: 767px) {
    .folder-dropdown {
        display: block!important;
    }
  }

  @media (min-width: 768px) {
    .folder-dropdown {
        display: none!important;
    }
  }

  @media (max-width: 767px) {
    .folder-list {
        display: none!important;
    }
  }

  @media (min-width: 768px) {
    .folder-list {
        display: block!important;
    }
  }

  .modal-btn { 
    margin-bottom: 15px;
  }
}

.artwork-detail {
  .creator-name {
  color: #000;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: left;
  margin-left: 4%;
  }

  .caption {
    color: #000;
    font-size: 2rem;
    // font-weight: bold;
    text-align: left;
    margin-left: 4%;
    margin-right: 4%;
    padding: 0px;
  
    p {
      word-wrap: break-word;
    }
  }

  .created-date {
    color: #000;
    font-size: 1.8rem;
    // font-weight: bold;
    text-align: left;
    margin-left: 4%;
  }

  .date {
    color: #000;
    // font-weight: bold;
    text-align: left;
    margin-left: 4%;
  }

  .buttons {
    text-align: right;
    width: 100%;
    font-size: 1.5rem;
    margin-right: 2%;
  }
  
  .delete_button {
    display: inline-block;
    padding: 12px;
  }
  
  .edit_button {
    display: inline-block;
    padding: 12px;
  }
  a {
    color: #000;
  }
}

.artwork-detail {
  .post {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .back-button {
    margin-bottom: 50px;
  }
}

.artwork-form {
  ul {
  list-style: none;
  }
  textarea {
    resize: none;
  }
}

.new-artwork, .edit-artwork, .artwork-detail {
  h3 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .back-button{
    text-align: center; 
    margin: 50px;
  }
  a {
    color: #000;
    font-size: 2rem;
  }
  .partition {
    font-size: 2rem;
    margin: 12px;
  }
}
 
.artworks-index, .creator-artworks-index, .folder-artworks-index {
  .pagination-wrapper {
    text-align: center;
  }
}

