.artworks-index,.creator-artworks-index {
  h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .image {
    width: auto;
    text-align: center
  }
  .image {
    img {
      max-width: 100%;
      height: 220px;
      margin-top: 10px;
    }
  }

  .creator-name {
    color: #000;
    font-size: 180%;
    font-weight:bold;
    text-align: center;
  }
  .date {
    color: #000;
    // font-size: 60%;
    font-weight:bold;
    text-align: center;
  }
  .folder-list {
    h4 {
      font-weight: bold;
    }
    .folder-list {
      font-size: 120%;
    } 
    .folder-name {
      font-size: 120%;
    }
  }
}

.creator-artworks-index {
  @media (max-width: 767px) {
    .folder-dropdown {
        display: block!important;
    }
  }

  @media (min-width: 768px) {
    .folder-dropdown {
        display: none!important;
    }
  }

  @media (max-width: 767px) {
    .folder-list {
        display: none!important;
    }
  }

  @media (min-width: 768px) {
    .folder-list {
        display: block!important;
    }
  }
}