.log-in {
  h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .checkbox-box {
    text-align: center
  }
  .links {
    margin-top: 30px;
    a {
      color: black;
    }
  }
}